@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "normal";
}

/*

    BODY, HEADER, MAIN
    
    Se da las propiedades a los elementos más generales de la página.
    Se utiliza grid para dividir los espacios que el header y el main consumiran.
    Se le da configuraciones generales al body.
  
*/

header {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {

    height: 180vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "normal";
    background-color: #f4f4f9;
    line-height: 1.6;
}

main {

    width: 100%;
    height: auto;

    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    border-radius: 10px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}










/*

    ELEMENTOS DEL HEADER

*/

.header_logo {

    height: 8vh;
    width: 60%;
}

.header_nav {

    width: 50%;
}

.header_logo h1 {
    margin-left: 8%;

    font-size: 44px;
    color: var(--color-black);
    font-family: "Logo";
    font-weight: lighter;
}

.header_nav ul {
    width: 100%;

    display: flex;
    gap: 4%;
    justify-content: end;

    padding-right: 8%;

    list-style: none;
}

.header_nav ul li a {

    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-weight: bold;

    transition: color 0.3s ease;
}

.header_nav ul li a:hover {

    color: var(--color-pink);
}










/*

    ELEMENTOS DEL SECTION #1, SERVICIO DE MARCA.

*/

.registro_marca_section {

    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border-radius: 10px;
}


.registro_marca_div {
    height: auto;
    width: 100%;

    padding: 4%;
    padding-right: 56%;
   
    text-align: left;
}

.registro_marca_div h1 {
    
    width: 110%;

    font-size: 48px;
    margin-bottom: 40px;
    color: #000;
}
.registro_marca_div div {

    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

.registro_marca_div div h5 {

    color: var(--color-black);
    font-size: 22px;
    margin-bottom: 24px;
}

.registro_marca_div div p {
    
    font-size: 20px;
    margin-bottom: 12px;
    
}










/*

    SECTION #3, CONTACTO

*/

.section_contacto {

    grid-area: contacto;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4%;

    background-color: #f4f4f9;
}

.formulario_contenedor {
    
    width: 100%;
    max-width: 600px;

    padding: 20px;
    border-radius: 10px;

    background-color: #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    
    margin-bottom: 20px;

    color: #000000;
}

form {

    display: flex;
    flex-direction: column;
}

.form_row {

    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.form_group {

    width: 48%;

    display: flex;
    flex-direction: column;
}

.description {

    width: 100%;
}

label {

    margin-bottom: 4px;

    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;

    padding: 10px;
    border-radius: 5px;

    background-color: #f3f3f3;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    
    border-color: #707070;
    outline: none;
}

textarea {

    margin-bottom: 20px;

    resize: none;
}

button[type="submit"] {

    padding: 10px 20px;
    border-radius: 5px;

    background-color: var(--color-black);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {

    background-color: var(--color-pink);
}










/*

    FOOTER

*/

.footer {

    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;

    padding: 4%;
    text-align: center;

    background-color: var(--color-black);
    color: white; 
    list-style: none;
}

.footer_contacto {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.footer_contacto a{

    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}

.footer_navigation {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer_navigation a{
    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}

.footer_enlaces {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer_enlaces div {
    display: flex;
    flex-direction: column;
}

.footer_enlaces a{

    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}