@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*

    BODY, HEADER, MAIN
    
    Se da las propiedades a los elementos más generales de la página.
    Se utiliza grid para dividir los espacios que el header y el main consumiran.
    Se le da configuraciones generales al body.
  
*/

.elemento {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.elemento.visible {
    opacity: 1;
    transform: translateY(0);
}

header {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background-color: #fff;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {

    height: 180vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
    user-select: none; 
}

main {

    width: 100%;
    height: auto;


    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    background-color: #f4f4f9;
    text-align: center;
}










/*

    ELEMENTOS DEL HEADER

*/

.header_logo {
    margin-left: 4%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    z-index: 1;
}

.header_logo img {
    width: 120px;
    height: 100px;
    object-fit: contain;
}

.header_nav {
    width: 60%;
}

.header_nav ul {
    display: flex;
    width: 100%;
    justify-content: end;
    justify-content: space-evenly;
    padding-right: 4%;
    list-style: none;
}

.menu-toggle {
    display: none;
}

.header_nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.header_nav ul li a:hover {
    color: var(--color-pinker);
}

.header_nav ul .focus {
    border-radius: 8px;
    border: 2px solid var(--color-pinker);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_nav ul li {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .header_nav {
        width: 65%;
    }
}

/* Media Queries for Mobile */
@media screen and (max-width: 1024px) {

    .header_logo img {
        width: 80px;
        height: 60px;
        object-fit: contain;
        object-position: bottom;
    }

    .header_nav {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_nav ul {
        display: none; /* Initially hidden */
        flex-direction: column; /* Stack menu items */
        position: absolute;
        top: 8vh; /* Below the header */
        right: 0;
        width: 100%;
        background-color: #fff;
        padding-right: 0;
        padding-left: 0;
    }

    .header_nav ul .focus {
        width: 30%;
        color: var(--color-pinker);
    }

    .header_nav ul li {
        width: 100%;
        text-align: center;
    }

    .header_nav ul.show { /* Class to show the menu */
        display: flex;
        gap: 30px;
        padding-bottom: 20px;
        padding-top: 20px;

    }

    /* Show the menu toggle button on mobile screens */
    .menu-toggle {
        display: block;
        cursor: pointer;
        right: 5%;
        top: 3vh;
    }

    .menu-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--color-black);
        margin: 6px 0;
        transition: 0.3s;
    }

    /* Menu toggle animation when active */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}











/*

    ELEMENTOS DEL SECTION #1, SERVICIO DE MARCA.

*/

.servicios_section {

    width: 100%;
    max-width: 100vw;
    height: auto;
    
    display: flex;
    flex-direction: column;

    background-color: #fff;
    z-index: 0;

}


.servicios_div {
    height: auto;
    width: 100%;

    padding: 4%;

    text-align: left;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first h1 {
    font-size: 48px;
    font-weight: 600;
}

.first_container_1 {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.first_container_1 h5 {
    font-size: 28px;
    width: 70%;
    color: var(--color-dark-green);
    text-align: center;
    font-weight: 600;
}

.first_container_1 .cards_container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 4%;
    gap: 50px;
    margin-top: 4%;

}

.mini_container {

    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.cards_container .mini_container {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

/* Estilo cuando son visibles */
.cards_container .mini_container.visible {
    
opacity: 1;
transform: translateY(0); 

}

.m1 {
    animation: moveUpDown 2.8s ease-in infinite;
}
.m2 {
    animation: moveUpDown 2.6s ease-in infinite;
}

.m3 {
    animation: moveUpDown 3.1s ease-in infinite;
}
.m4 {
    animation: moveUpDown 2.4s ease-in infinite;
}


@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}




.mini_container div{
    width: 95%;
    height: 87%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 4%;
    padding-top: 12%;
    gap: 4%;
    box-shadow: 0px 0px 15px 0px rgb(204, 204, 204);
}

.cards_container div i {

    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 20px;

}

.mini_container div h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.mini_container div p {

    width: 80%;
    text-align: center;
    font-size: 18px;
}

.second h5 {

    font-size: 28px;
    text-align: center;
    color: var(--color-pink);
    font-weight: 600;

}

.second_mini_container {

    display: flex;
    position: relative;
    gap: 50px;
    padding-inline: 8%;
    justify-content: center;
    align-items: center;
}

.second_mini_container p {

    width: 50%;
    font-size: 28px;

}

.bullet_points {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bullet_points div {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 4%;
    background-color: white;
    border-radius: 10px;


}

.bullet_points div:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in;
}



.bullet_points p {
    font-size: 24px;
}



.bullet_points img {
    width: 50px;
}

.call {
    font-size: 20px;
}

.call a {
    text-decoration: none;
    color: var(--color-pinker);
}

.call a:hover {
    border-bottom: 2px solid var(--color-pinker);
    font-weight: 450;
}

.third div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.third h1{
    font-size: 48px;
    text-align: center;
}

.third p {
    font-size: 24px;
    width: 80%;
    text-align: center;
}

@media (max-width: 1610px) {

    .mini_container div h1 {

        font-size: 32px;
    }
    
}

@media (max-width: 1500px) {

    .mini_container div h1 {

        font-size: 30px;
    }

    .mini_container div p {

        font-size: 16px;
    }
    
}

@media (max-width: 1200px) {

    .first_container_1 .cards_container {
        gap: 10px;
    }
    .mini_container div h1 {

        font-size: 28px;
    }

    .mini_container div p {

        font-size: 16px;
    }
    
}

@media (max-width: 1080px) {

    .first_container_1 .cards_container {
        gap: 50px;
        flex-wrap: wrap;
    }

    .first h1 {
        font-size: 40px;
    }

    .cards_container div {
        width: 300px;
    }
    .mini_container div h1 {

        font-size: 28px;
    }

    .mini_container div p {

        font-size: 16px;
    }

    .second_mini_container p {
        font-size: 20px;
    }

    .footer-links {
        margin-bottom: 20px;
    }
    
}

@media (max-width: 700px) {

    .first h1 {
        font-size: 34px;
        margin-top: 20px;
    }

    .first_container_1 h5 {
        font-size: 24px;
    }

    .first_container_1 .cards_container {
        gap: 30px;
        flex-wrap: wrap;
    }

    .cards_container div {
        width: 300px;
    }
    .mini_container div h1 {

        font-size: 28px;
    }

    .first_container_1 h5 {
        font-size: 22px;
    }

    .mini_container div p {

        font-size: 16px;
    }

    .second_mini_container p {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }

    .second h5 {
        font-size: 22px;
    }

    .second_mini_container {
        flex-direction: column;
    }

    .bullet_points {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .bullet_points div {
        width: 200px;
        background-color: white;
    }
    .third p {
        font-size: 20px;
    }

    .footer-links {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    .bullet_points div p{
        font-size: 16px;
    }
    .bullet_points div {
        width: 130px;
    }

    .footer-links {
        margin-bottom: 30px;
    }

    .legal {
        font-size: 10px;
    }
}






/*

    FOOTER

*/

.footer {

    height: 40vh auto;
    max-width: 100vw;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;

    padding: 4%;
    text-align: center;

    background-color: black;
    color: white; 
    list-style: none;

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.footer_container {
    width: 100%;
    display: flex;

}

.footer-row {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-inline: 4%;

    flex-wrap: wrap;
    

}

.footer-links {

    width: 25%;
    min-width: 235px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.footer-links h4 {

    width: 60%;
    min-width: 182px;
    display: inline;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--color-pinker);
    padding-bottom: 10px;

}

.footer-links ul li  {

    list-style: none;

}

.footer-links ul {
    width: 60%;
    min-width: 182px;
}


.footer-links ul li a {

    text-align: left;
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3 ease;

}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-inline: 10px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .5s ease;
    color: white;
}

.gmail:hover {
    color: rgb(175, 32, 32);
    font-size: 28px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px white;

}

.instagram:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    font-size: 28px;
    box-shadow: 0px 0px 5px 0px #d92e7f;
}

.tiktok:hover{

    font-size: 28px;
    background-color: black;
    box-shadow: 0px 0px 5px 0px white;
    text-shadow: 1.2px 1.2px 0 #fe2d52, -1.2px -1.2px 0 #28ffff;
    
}

.linkedin:hover{

    font-size: 28px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px white;
    color: #0a66c2;
    
}

.legal {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgba(255, 255, 255, 0.705);
}