@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "normal";
}

/*

    BODY, HEADER, MAIN
    
    Se da las propiedades a los elementos más generales de la página.
    Se utiliza grid para dividir los espacios que el header y el main consumiran.
    Se le da configuraciones generales al body.
  
*/


header {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {

    height: 180vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "normal";
    background-color: #f4f4f9;
    line-height: 1.6;
}

main {

    width: 100%;
    height: auto;

    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    border-radius: 10px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}










/*

    ELEMENTOS DEL HEADER

*/

/* General Styles */
.header_logo {
    margin-left: 4%;
    height: 8vh;
    width: auto;
    z-index: 1;
}

.header_nav {
    width: 50%;
}

/* Hide menu by default for small screens */
.header_nav ul {
    display: flex;
    gap: 4%;
    justify-content: end;
    padding-right: 8%;
    list-style: none;
}

/* Hide the menu toggle button on large screens */
.menu-toggle {
    display: none;
}

/* Header Navigation links */
.header_nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header_nav ul li a:hover {
    color: var(--color-pinker);
}

.header_nav ul .focus {
    border-radius: 8px;
    background-color: var(--color-pinker);
    padding: 20%;
}

.header_nav ul .focus:hover {
    color: white;
}

.header_nav ul li {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries for Mobile */
@media screen and (max-width: 1024px) {

    .header_nav {
        width: 100%;
    }

    .header_nav ul {
        display: none; /* Initially hidden */
        flex-direction: column; /* Stack menu items */
        position: absolute;
        top: 8vh; /* Below the header */
        right: 0;
        width: 100%;
        background-color: white;
        padding-right: 0;
        padding-left: 0;
    }

    .header_nav ul .focus {
        padding: 2%;
    }

    .header_nav ul li {
        width: 100%;
        text-align: center;
    }

    .header_nav ul.show { /* Class to show the menu */
        display: flex;
        gap: 30px;
    }

    /* Show the menu toggle button on mobile screens */
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 3vh;
    }

    .menu-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--color-black);
        margin: 6px 0;
        transition: 0.3s;
    }

    /* Menu toggle animation when active */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}











/*

    ELEMENTOS DEL SECTION #1, SERVICIO DE MARCA.

*/

.servicios_section {

    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;

    background-color: #fff;
    z-index: 1;
}


.servicios_div {
    height: auto;
    width: 100%;

    padding: 4%;
    padding-right: 56%;
   
    text-align: left;
}

.servicios_div h1 {
    
    width: 110%;

    font-size: 48px;
    margin-bottom: 40px;
    color: #000;
}
.servicios_div div {

    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

.servicios_div div h5 {

    color: var(--color-black);
    font-size: 22px;
    margin-bottom: 24px;
}

.servicios_div div p {
    
    font-size: 20px;
    margin-bottom: 6px;
    
}

.bullet_points {
    
    color: var(--color-black);
}









/*

    FOOTER

*/

.footer {

    height: 40vh auto;
    max-width: 100vw;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;

    padding: 4%;
    text-align: center;

    background-color: black;
    color: white; 
    list-style: none;

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.footer_container {
    width: 100%;
    display: flex;

}

.footer-row {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-inline: 4%;

    flex-wrap: wrap;
    

}

.footer-links {

    width: 25%;
    min-width: 235px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.footer-links h4 {

    width: 60%;
    min-width: 182px;
    display: inline;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--color-pinker);
    padding-bottom: 10px;

}

.footer-links ul li  {

    list-style: none;

}

.footer-links ul {
    width: 60%;
    min-width: 182px;
}


.footer-links ul li a {

    text-align: left;
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3 ease;

}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-inline: 10px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .5s ease;
    color: white;
}

.gmail:hover {
    color: rgb(175, 32, 32);
    font-size: 28px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px white;

}

.instagram:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    font-size: 28px;
    box-shadow: 0px 0px 5px 0px #d92e7f;
}

.tiktok:hover{

    font-size: 28px;
    background-color: black;
    box-shadow: 0px 0px 5px 0px white;
    text-shadow: 1.2px 1.2px 0 #fe2d52, -1.2px -1.2px 0 #28ffff;
    
}

.linkedin:hover{

    font-size: 28px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px white;
    color: #0a66c2;
    
}

