@import url(variables.css);

/*

    BODY, HEADER, MAIN
    
    Se da las propiedades a los elementos más generales de la página.
    Se utiliza grid para dividir los espacios que el header y el main consumiran.
    Se le da configuraciones generales al body.
  
*/

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "normal";
}

.elemento {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.elemento.visible {
    opacity: 1;
    transform: translateY(0);
}

body {
    background-color: #f4f4f9;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    height: 200vh;       
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "section_1"
    "section_2"
    "contacto"
    ;

}










/*

    ELEMENTOS DEL HEADER

*/

.header_logo {

    height: 8vh;
    width: 60%;
}

.header_nav {

    width: 50%;
}

.header_logo h1 {
    margin-left: 8%;

    font-size: 44px;
    color: var(--color-black);
    font-family: "Logo";
    font-weight: lighter;
}

.header_nav ul {
    width: 100%;

    display: flex;
    gap: 4%;
    justify-content: end;

    padding-right: 8%;

    list-style: none;
}

.header_nav ul li a {

    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-weight: bold;

    transition: color 0.3s ease;
}

.header_nav ul li a:hover {

    color: var(--color-light-green);
}










/*

    ELEMENTOS DEL SECTION #1, LLAMADO A LA ACCIÓN.

*/

.section_call {

    grid-area: section_1;

    width: 100%;
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;  
}

.section_call h2 {
    
    margin-bottom: 20px;

    font-size: 44px;
}

.cta-button {

    width: 64px;
    height: auto;
    display: flex;

    padding: 0;

    text-decoration: none;
    font-size: 64px;
    color: #21a700;
    
    transition: 0.3s;
}

.cta-button:hover {

    text-shadow: 0px 0px 2px #21a700;

    transition: 0.3s;
}










/* 

    SECTION #2, FILOSOFIA DE 2.22

*/

.section_filosofia {

    grid-area: section_2;

    width: 100%;
    height: 72vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 4%;
    padding-right: 60%;

    background-color: #ffffff;

    color: var(--color-black);
    text-align: left;

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.section_filosofia h2 {

    font-size: 48px;
    font-weight: 600;
}

.section_filosofia p {

    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.747);
}










/*

    SECTION #3, CONTACTO

*/

.section_contacto {

    grid-area: contacto;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4%;

    background-color: #f0f0f0;
}

.formulario_contenedor {
    
    width: 100%;
    max-width: 600px;

    padding: 20px;
    border-radius: 10px;

    background-color: #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    
    margin-bottom: 20px;

    color: #000000;
}

form {

    display: flex;
    flex-direction: column;
}

.form_row {

    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.form_group {

    width: 48%;

    display: flex;
    flex-direction: column;
}

.description {

    width: 100%;
}

label {

    margin-bottom: 4px;

    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;

    padding: 10px;
    border-radius: 5px;

    background-color: #f3f3f3;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    
    border-color: #707070;
    outline: none;
}

textarea {

    margin-bottom: 20px;

    resize: none;
}

button[type="submit"] {

    padding: 10px 20px;
    border-radius: 5px;

    background-color: var(--color-black);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {

    background-color: var(--color-light-green);
}










/*

    FOOTER

*/

.footer {

    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;

    padding: 4%;
    text-align: center;

    background-color: var(--color-black);
    color: white; 
    list-style: none;
}

.footer_contacto {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.footer_contacto a{

    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}

.footer_navigation {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer_navigation a{
    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}

.footer_enlaces {

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer_enlaces div {
    display: flex;
    flex-direction: column;
}

.footer_enlaces a{

    font-size: 24px;
    color: var(--color-pink);
    text-decoration: none;
}
