:root {
    --color-white: #fff;
    --color-black: #000;
    --color-pink: #823366;
    --color-pinker: #F3648B;
    --color-dark-green: #1E4C25;
    --color-light-green: #6FA277;
}

@font-face {
    font-family: "Logo";
    src: url(../storage/font/Dos22-Font\ Bold.otf);
}

@font-face {
    font-family: "normal";
    src: url(../storage/font/Syne-VariableFont_wght.ttf);
}