<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/manifiesto.css">
    <title>2·22 - Transformación Legal</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="">Manifiesto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./registro_marca.html">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="../index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="manifiesto_section">
            <h2>Creemos en una visión <strong style="color: var(--color-black);">transformadora</strong> del derecho</h2>
            <p>El Universo nos pide que busquemos conexiones reales y nos enseña que siempre es más sencillo y llevadero recorrer el viaje en compañía. Sobre la base de esta hermosa filosofía nace 222, un espacio que nos motiva a evolucionar y a vivir en el presente, aquí y ahora, en el lugar y momento indicado para hacer todo aquello que nos apasiona. </p>
        </section>
    </main>

    <footer class="footer">
        <div class="footer_contacto">

            <h1>Siguenos</h1>
            <div>
                <li><a href="#">    <i class='bx bxl-gmail'></i>        </a></li>
                <li><a href="#">    <i class='bx bxl-linkedin'></i>     </a></li>
                <li><a href="#">    <i class='bx bxl-instagram'></i>    </a></li>
                <li><a href="#">    <i class='bx bxl-tiktok' ></i>      </a></li>
            </div>

        </div>

        <div class="footer_navigation">

            <h1>2·22</h1>
            <div>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicio">Servicio</a></li>
                <li><a href="#Siguenos">Siguenos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </div>

        </div>

        <div class="footer_enlaces">

            <h1>Informacion legal</h1>
            <div>
                <a href="/terminos-y-condiciones">Términos y condiciones</a>
                <a href="/politica-de-privacidad">Política de Privacidad</a>
            </div>
            
        </div>
    </footer>

</body>
</html>