<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/manifiesto.css">
    <title>2·22 - Transformación Legal</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a class="focus" href="">Manifiesto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./registro_marca.html">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="../index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </header>

    <main>
        <section class="manifiesto_section">
            <h2>Creemos en una visión <strong style="color: var(--color-black);">transformadora</strong> del derecho</h2>
            <p>El Universo nos pide que busquemos conexiones reales y nos enseña que siempre es más sencillo y llevadero recorrer el viaje en compañía. Sobre la base de esta hermosa filosofía nace 222, un espacio que nos motiva a evolucionar y a vivir en el presente, aquí y ahora, en el lugar y momento indicado para hacer todo aquello que nos apasiona. </p>
        </section>
    </main>

    <footer class="footer elemento" data-scroll>
        <div class="footer_container">

            <div class="footer-row">

                <div class="footer-links">
                    
                    <h4>Navegacion</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Manifiesto</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Registro de marca</a></li>
                        <li><a href="#">The house</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Informacion legal</h4>
                    <ul>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a class="gmail" href="#"><i class='bx bxl-gmail' ></i></a>
                        <a class="instagram" href="#"><i class='bx bxl-instagram' ></i></a>
                        <a class="tiktok" href="#"><i class='bx bxl-tiktok'></i></a>
                        <a class="linkedin" href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>

                </div>
            </div>

        </div>
    </footer>

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const nav = document.querySelector('.header_nav ul');
        const main = document.querySelector('.manifiesto_section');

        menuToggle.addEventListener('click', () => {
            if (main.classList.contains('opacity-on')) {
                main.style.opacity = 1;
                main.classList.remove('opacity-on');
                main.style.pointerEvents = 'auto'; // Habilita la interacción cuando el menú está cerrado
            } else {
                main.style.opacity = 0;
                main.classList.add('opacity-on');
                main.style.pointerEvents = 'none'; // Deshabilita la interacción mientras el menú está desplegado
            }
            menuToggle.classList.toggle('active');
            nav.classList.toggle('show');
        });
    </script>
</body>
</html>