<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/registro_marca.css">
    <title>Document</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./manifiesto.html">Manifiesto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="/index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>





    <main>

        <section class="registro_marca_section">

            <div class="registro_marca_div">
                <h1>Registro de marca</h1>
                <div>

                    <p>Este es el servicio que nos mantiene ON FIRE, el que nos inspiró a crear un espacio ameno y feliz en el que logramos integrar la consciencia, la seguridad y el propósito de las marcas.</p>
                    <p>Una vez te sientas realmente DUEÑO de tu marca, estamos seguros de que no habrá nada ni nadie que obstaculice ese sueño que te mueve todos los días.  Por eso, hacemos de este proceso algo rápido y fácil de entender: En solo 2 pasos, puedes dar inicio al trámite de protección de tu marca durante 10 años renovables indefinidamente.</p>
                    <p>Lo único que debes hacer, es diligenciar el siguiente formulario con los datos más importantes de tu marca, y listo, en 24-48 horas recibirás un informe completo y detallado sobre la probabilidad de éxito del registro, las recomendaciones a seguir y los términos para iniciar la siguiente etapa que consiste en presentar la solicitud en línea. </p>

                </div>
            </div>

        </section>





        <section id="contacto" class="section_contacto">

            <h2>Comunicate con nosotros</h2>
            <div class="formulario_contenedor">
                <form action="/enviar-formulario" method="POST">

                    <div class="form_row">

                        <div class="form_group">
                            <label for="tipo_persona">Tipo de persona:</label>
                            <input type="text" id="tipo_persona" name="tipo_persona" required>
                        </div>

                        <div class="form_group">
                            <label for="Apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" required>
                        </div>
                        
                    </div>

                    <div class="form_row">

                        <div class="form_group">
                            <label for="edad">Edad:</label>
                            <input type="number" id="edad" name="edad" min="1" required>
                        </div>
                        <div class="form_group">
                            <label for="marca">Nombre de la Marca:</label>
                            <input type="text" id="marca" name="marca" required>
                        </div>

                    </div>

                    <div class="form_group description">
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                    </div>

                    <button type="submit">Enviar</button>

                </form>
            </div>

        </section>

    </main>





    <footer class="footer">
        <div class="footer_contacto">

            <h1>Redes</h1>
            <div>
                <li><a href="#">    <i class='bx bxl-gmail'></i>        </a></li>
                <li><a href="#">    <i class='bx bxl-linkedin'></i>     </a></li>
                <li><a href="#">    <i class='bx bxl-instagram'></i>    </a></li>
                <li><a href="#">    <i class='bx bxl-tiktok' ></i>      </a></li>
            </div>

        </div>

        <div class="footer_navigation">

            <h1>2·22</h1>
            <div>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicio">Servicio</a></li>
                <li><a href="#redes">Redes</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </div>

        </div>

        <div class="footer_enlaces">

            <h1>Politicas</h1>
            <div>
                <a href="/terminos-y-condiciones">Términos y condiciones</a>
                <a href="/politica-de-privacidad">Política de Privacidad</a>
            </div>
            
        </div>
    </footer>
    
</body>
</html>