<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/registro_marca.css">
    <title>Document</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <a href="../index.html">
                <img src="../storage/img/2.22Green.jpeg" alt="">
            </a>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./manifiesto.html">Manifiesto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a class="focus" href="">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="../index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </header>





    <main>

        <section class="registro_marca_section elemento" data-scroll>

            <div class="info_1">
                <h1 class="info_1_h1">Registrar tu marca puede ser simple</h1>

                <p class="info_1_p">Tu marca es más que un simple nombre o logotipo. 
                    Es la identidad de tu negocio, tu reputación y tu futuro. 
                    Dejemos que esa identidad sea exclusivamente tuya. 
                    Contáctanos y comencemos hoy mismo a proteger lo que con tanto esfuerzo has construido.
                </p>

                <div class="div_util">
                    <div class="info_1_div">
                        <i class='bx bx-down-arrow-alt bx-flip-horizontal' ></i> Inicia tu proceso de registro de marca
                    </div>
                </div>
            </div>
            <div class="image_1"><img src="../storage/img/rb_3449.png" alt=""></div>
            <div class="info_2">
                <h1 class="info_2_h1">Por eso, en solo en <span style="color: var(--color-pinker);">2 pasos</span> puedes dar inicio al trámite de protección de tu marca</h1>

                <div class="item_container">

                    <div class="info_2_item">
                        <i>1</i>
                        <p>Diligencia el formulario con los datos clave de tu marca y cuentanos tu situación.</p>
                    </div>
                    <div class="info_2_item">
                        <i>2</i>
                        <p>¡Y listo! en 24 - 48 horas hábiles recibirás un informe detallado sobre la probabilidad de éxito  y los pasos para presentar la solicitud en línea.</p>
                    </div>

                </div>
                
            </div>
            <div class="image_2">
                <img src="../storage/img/rb_2147971971.png" alt="">
            </div>

            

        </section>





        <section id="contacto" class="section_contacto elemento" data-scroll>

            <div class="contacto_container">

                <h2>Estudio de viabilidad</h2>
                <p>Es tan <span style="color: var(--color-pinker);">facil</span> como diligenciar este formulario</p>

            </div>

            
            
            <div id="form" class="formulario_contenedor">
                <form action="/enviar-formulario" method="POST">

                    <div class="form_row">

                        <div class="form_group">
                            <label for="nombre">Nombre completo:</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>

                        <div class="form_group">
                            <label for="Correo">Tipo de persona:</label>
                            <select id="tipo_persona" name="tipo_persona" required>
                                <option value="natural">Soy persona natural</option>
                                <option value="juridica">Soy persona jurídica</option>
                            </select>
                        </div>
                        
                    </div>

                    <div class="form_row">

                        <div class="form_group">
                            <label for="marca">Nombre de mi marca:</label>
                            <input type="text" id="marca" name="marca" required>
                        </div>
                        
                        <div class="form_group">
                            <label for="ig_user">Usuario de instagram (marca)</label>
                            <input type="text" id="ig_user" name="ig_user" required>
                        </div>

                    </div>

                    <div class="form_row">

                        <div class="form_group">
                            <label for="servicios">Vendo los siguientes productos y/o servicios:</label>
                            <input type="text" id="servicios" name="servicios" required>
                        </div>

                    </div>

                    <div class="form_group description">
                        <label for="info">Información adicional (opcional)</label>
                        <textarea id="info" name="info" rows="4" required></textarea>
                    </div>

                    <div class="form_group">
                        <button type="button" onclick="realizarPago()" class="btn-pago">
                            Pagar ahora
                        </button>
                    </div>
                    <button type="submit">Enviar</button>

                </form>
            </div>

            <script>

                const span = document.querySelector('.contacto_container span');
                const formularioContenedor = document.querySelector('.formulario_contenedor');
            
                
                span.addEventListener('mouseenter', () => {
                    formularioContenedor.style.boxShadow = '0 8px 30px rgba(0, 0, 0, 0.315)';
                    formularioContenedor.style.transform = 'translateY(-5px)';
                    formularioContenedor.style.transition = 'all 0.3s ease';
                    
        
                    span.style.fontWeight = '500';
                    span.style.transition = 'all 0.3s ease';
                });
            
                
                span.addEventListener('mouseleave', () => {

                    formularioContenedor.style.boxShadow = '';
                    formularioContenedor.style.transform = '';
                    
                    
                    span.style.textShadow = '';
                    span.style.fontWeight = '';

                });

            </script>

        </section>

    </main>





    <footer class="footer elemento" data-scroll>
        <div class="footer_container">

            <div class="footer-row">

                <div class="footer-links">
                    
                    <h4>Navegación</h4>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="/views/manifiesto.html">Manifiesto</a></li>
                        <li><a href="/views/servicios.html">Servicios</a></li>
                        <li><a href="/views/registro_marca.html">Registro de marca</a></li>
                        <li><a href="/views/the_house.html">The house</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Información legal</h4>
                    <ul>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Políticas de privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Síguenos</h4>
                    <div class="social-links">
                        <a class="gmail" href="mailto:hola@222legalhouse.com"><i class='bx bxl-gmail' ></i></a>
                        <a class="instagram" href="https://www.instagram.com/222legalhouse/"><i class='bx bxl-instagram' ></i></a>
                        <a class="tiktok" href="https://www.tiktok.com/@222legalhouse"><i class='bx bxl-tiktok'></i></a>
                        <a class="linkedin" href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                    <h5 class="legal">@ 222 Legal Holistic House</h5>

                </div>
            </div>

        </div>
    </footer>
    
    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const nav = document.querySelector('.header_nav ul');
        const main = document.querySelector('.registro_marca_section');

        menuToggle.addEventListener('click', () => {
            if (main.classList.contains('opacity-on')) {
                main.style.opacity = 1;
                main.classList.remove('opacity-on');
                main.style.pointerEvents = 'auto'; // Habilita la interacción cuando el menú está cerrado
            } else {
                main.style.opacity = 0;
                main.classList.add('opacity-on');
                main.style.pointerEvents = 'none'; // Deshabilita la interacción mientras el menú está desplegado
            }
            menuToggle.classList.toggle('active');
            nav.classList.toggle('show');
        });
    </script>
    
</body>
</html>