<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/registro_marca.css">
    <title>Document</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./manifiesto.html">Manifiesto</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a class="focus" href="">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="../index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </header>





    <main>

        <section class="registro_marca_section">

            <div class="registro_marca_div">
                <h1>Registro de marca</h1>
                <div>

                    <p>Este es el servicio que nos mantiene ON FIRE, el que nos inspiró a crear un espacio en el que logramos integrar la consciencia, la seguridad y el propósito de las marcas.</p>
                    <p>Y es que, una vez te sientas realmente dueño de tu marca, estamos seguros de que no habrá nada ni nadie que obstaculice ese sueño que te mueve todos los días.</p>
                    <p>Por eso, en solo 2 pasos puedes dar inicio al trámite de protección de tu marca, lo único que debes hacer, es diligenciar el siguiente formulario con los datos más importantes de tu marca ¡Y listo!, en 24-48 horas recibirás un informe completo y detallado sobre la probabilidad de éxito del registro, las recomendaciones a seguir y los términos para iniciar la siguiente etapa que consiste en presentar la solicitud en línea.</p>

                </div>
            </div>

        </section>





        <section id="contacto" class="section_contacto">

            <h2>Comunicate con nosotros</h2>
            <div class="formulario_contenedor">
                <form action="/enviar-formulario" method="POST">

                    <div class="form_row">

                        <div class="form_group">
                            <label for="tipo_persona">Tipo de persona:</label>
                            <input type="text" id="tipo_persona" name="tipo_persona" required>
                        </div>

                        <div class="form_group">
                            <label for="Apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" required>
                        </div>
                        
                    </div>

                    <div class="form_row">

                        <div class="form_group">
                            <label for="edad">Edad:</label>
                            <input type="number" id="edad" name="edad" min="1" required>
                        </div>
                        <div class="form_group">
                            <label for="marca">Nombre de la Marca:</label>
                            <input type="text" id="marca" name="marca" required>
                        </div>

                    </div>

                    <div class="form_group description">
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                    </div>

                    <button type="submit">Enviar</button>

                </form>
            </div>

        </section>

    </main>





    <footer class="footer elemento" data-scroll>
        <div class="footer_container">

            <div class="footer-row">

                <div class="footer-links">
                    
                    <h4>Navegacion</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Manifiesto</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Registro de marca</a></li>
                        <li><a href="#">The house</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Informacion legal</h4>
                    <ul>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>

                </div>

                <div class="footer-links">
                    
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a class="gmail" href="#"><i class='bx bxl-gmail' ></i></a>
                        <a class="instagram" href="#"><i class='bx bxl-instagram' ></i></a>
                        <a class="tiktok" href="#"><i class='bx bxl-tiktok'></i></a>
                        <a class="linkedin" href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    
    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const nav = document.querySelector('.header_nav ul');
        const main = document.querySelector('.registro_marca_section');

        menuToggle.addEventListener('click', () => {
            if (main.classList.contains('opacity-on')) {
                main.style.opacity = 1;
                main.classList.remove('opacity-on');
                main.style.pointerEvents = 'auto'; // Habilita la interacción cuando el menú está cerrado
            } else {
                main.style.opacity = 0;
                main.classList.add('opacity-on');
                main.style.pointerEvents = 'none'; // Deshabilita la interacción mientras el menú está desplegado
            }
            menuToggle.classList.toggle('active');
            nav.classList.toggle('show');
        });
    </script>
    
</body>
</html>