<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/servicios.css">
    <title>Document</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./manifiesto.html">Manifiesto</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="./registro_marca.html">Registro de marca</a></li>
                <li><a href="./the_house.html">The house</a></li>
                <li><a href="../index.html#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="servicios_section">
            <div class="servicios_div">
                <h1>Servicios</h1>
                <div>
                    <h5>Nos enfocamos en tres aspectos fundamentales para el desarrollo integral de tu negocio:</h5>
                    <p>1. Te acompañamos durante todas las etapas de constitución y formalización empresarial.</p>
                    <p>2. Diseñamos la estrategia ideal para proteger tu marca, publicidad, social media y derechos de autor.</p>
                    <p>3. Brindamos capacitación a equipos creativos de las empresas con el propósito de detectar y prevenir riesgos asociados a la protección marcas y Derechos de Autor.</p>
                </div>
                
                <div>
                    <h5>Planes</h5>
                    <p>Nuestro mantra para ti siempre será: hacerlo obvio, hacerlo sencillo y hacerlo atractivo. </p>
                    <p>Contamos con tres planes iniciales adaptables según tus necesidades y la etapa en la que te encuentres como emprendedor o empresario, logrando así:</p>
                    <p class="bullet_points"> 
                        ◦ Lo vital
                        <br>
                        ◦ Estar sereno
                        <br>
                        ◦ Fluir en buena vibra</p>
                </div>
            </div>
        </section>

        <section class="servicios_section">
            <div class="servicios_div">
                <h1>Otros servicios</h1>
                <div>
                    <p>Asesoría legal 1:1 para emprendedores, comerciantes, y empresarios <br> en asuntos aduaneros y de comercio exterior (Importación /exportación de productos y/o servicios). </p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer_contacto">

            <h1>Redes</h1>
            <div>
                <li><a href="#">    <i class='bx bxl-gmail'></i>        </a></li>
                <li><a href="#">    <i class='bx bxl-linkedin'></i>     </a></li>
                <li><a href="#">    <i class='bx bxl-instagram'></i>    </a></li>
                <li><a href="#">    <i class='bx bxl-tiktok' ></i>      </a></li>
            </div>

        </div>

        <div class="footer_navigation">

            <h1>2·22</h1>
            <div>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicio">Servicio</a></li>
                <li><a href="#redes">Redes</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </div>

        </div>

        <div class="footer_enlaces">

            <h1>Politicas</h1>
            <div>
                <a href="/terminos-y-condiciones">Términos y condiciones</a>
                <a href="/politica-de-privacidad">Política de Privacidad</a>
            </div>
            
        </div>
    </footer>
    
</body>
</html>