<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/the_house.css">
    <title>Document</title>
</head>
<body>

    <header id="inicio">
        <div class="header_logo">
            <h1>2·22</h1>
        </div>
        <nav class="header_nav">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="./views/manifiesto.html">Manifiesto</a></li>
                <li><a href="./views/servicios.html">Servicios</a></li>
                <li><a href="./views/registro_marca.html">Registro de marca</a></li>
                <li><a href="#thehouse">The house</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>





    <main>

        <section class="the_house_section">

            <h1>The house</h1>

            <div class="abogado_1">

                <div class="img">
                    <img src="" alt="">
                </div>

                <div class="abogado_info">
                    <h2>Pepita perla insumos</h2>
                    <div class="areas">
                        <p><strong>Areas de especialidad:</strong></p>
                        <p>Gestión contractual / Aduanas y Comercio Exterior / Propiedad intelectual.</p>
                    </div>
                    <p>Soy visionaria y fundadora de 222. <br>También, soy abogada con conocimientos en los contratos que nos rigen como sociedad, en el comercio que mueve nuestra economía, y en el intelecto que irradia cada idea que se nos ocurre; ahora, tengo un nuevo título, uno que sobrepasa todos los demás del cajón: soy mamá por amor a la vida. </p>
                </div>

            </div>

        </section>



        <section class="aliances_section">


        </section>

    </main>




    

    <footer class="footer">
        <div class="footer_contacto">

            <h1>Redes</h1>
            <div>
                <li><a href="#">    <i class='bx bxl-gmail'></i>        </a></li>
                <li><a href="#">    <i class='bx bxl-linkedin'></i>     </a></li>
                <li><a href="#">    <i class='bx bxl-instagram'></i>    </a></li>
                <li><a href="#">    <i class='bx bxl-tiktok' ></i>      </a></li>
            </div>

        </div>

        <div class="footer_navigation">

            <h1>2·22</h1>
            <div>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicio">Servicio</a></li>
                <li><a href="#redes">Redes</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </div>

        </div>

        <div class="footer_enlaces">

            <h1>Politicas</h1>
            <div>
                <a href="/terminos-y-condiciones">Términos y condiciones</a>
                <a href="/politica-de-privacidad">Política de Privacidad</a>
            </div>
            
        </div>
    </footer>
    
</body>
</html>